body{
    background: radial-gradient(at top center,#CCDAE0,#EDF2F4);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color:#EF233C ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    font-weight: bold;
}
h3{
    color: #2B2D42;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline dotted;
}
article{
    border: 1px solid black;
}
img{
    display: block;
    margin: auto;
    border: 2px solid #8D99AE  ;
}
footer{
    position: absolute;
    right: 0;
}
ul{
    list-style: none;
}
a:link{
    color: #D90429 ;
}
a:visited{
    color:grey
}
a:hover{
    color: #2B2D42;
}
span{
color: red;
}
header{
    display: flex;  
    flex-direction: column;  
    align-items: center; 
     height: auto;
}